<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="APP_NAME" value="tax-mitra"/>
    <property name="LOG_PATH" value="./logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level - [%X{requestId:-NA}] [%X{userId:-NA}] %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message/>
                <mdc/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
                <pattern>
                    <pattern>
                        {
                        "app": "${APP_NAME}"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>
    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JSON_FILE"/>
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.tax.mitra" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_JSON"/>
    </root>
</configuration>